/* Generic Styles */ 

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(40, 0, 54);
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
}

.scroll-margin-top {
  scroll-margin-top: 60px;
  scroll-snap-margin-top: 60px;
}

/* Header Styles */

.mobile-hide {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 45px;
  padding: 0px 16px;
  box-shadow: 0px -9px 20px 10px #fff;
  background-color: #885ab7;
  position: fixed;
  width: 100%;
  top: 0;
}

div.header-buffer {
  height: 45px;
  width: 100%;
}

@media (min-width: 960px) {
  header {
    padding: 0;
    height: 75px;
  }

  div.header-buffer {
    height: 75px;
  }

  .scroll-margin-top {
    scroll-margin-top: 90px;
    scroll-snap-margin-top: 90px;
  }
}

div.row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  flex-grow: 1;
}

nav.header-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

nav.header-nav {
  ul li {
    margin-right: 8px;
  }
  max-width: 960px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.obscure-anchor {
  text-decoration: none;
  color: #fff;
  &:hover,&:focus {
    color: #affae2;
  }
}

/* Sections */

@media (min-width: 960px) {
  div.section-row {
    padding: 0;
  }
}

@media (min-width: 550px) {
  .mobile-hide {
    display: inline-block;
  }

  nav.header-nav {
    ul li {
      margin-right: 16px;
    }
  }

  div.row {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

div.section-row {
  display: flex;
  justify-content: center;
  padding: 0px 16px;
}

div.section-row section {
  flex-grow: 1;
}

section.obscure-section {
  max-width: 960px;  
}

p {
  max-width: 700px;
}

img.company-logo {
  max-width: 200px;
  height: auto;
}

.workplace {
  blockquote {
    p {
      font-style: italic;
    }
    background-color: #12031d;
    margin: 8px 0px;
    padding: 8px 40px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
  }
  margin-bottom: 24px;
  display: flex;
  flex-flow: column nowrap;
}

.workplace-summary {
  align-self: center;
}

.workplace-logo-container {
  h2 {
    margin: 0;
    padding: 0;
  }
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 8px;
}

@media (min-width: 650px) {
  .workplace-logo-container {
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.workplace-details {
  font-style: italic;
}

ul.workplace-job-summary {
  margin-left: 16px;
  li:before {
    content: "\2192";
    padding-right: 8px;
  }

  li {
    font-size: 16px;
    margin-bottom: 16px;
    max-width: 700px;
  }
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 32px;
  fill: #fff;
}

.obscure-project {
  .project-details {
    margin-right: 16px;
  }

  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Form */

.obscure-form-button {
  padding: 8px 16px;
  background-color: #885ab7;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: none;
  color: #fff;
  margin-left: 8px;
  &:hover {
    cursor: pointer;
    color: #885ab7;
    background-color: #fff;
  }
}

form div.form-control {
  margin-bottom: 16px;

  label {
    display: block;
    margin-bottom: 8px;
  }

  input.text-field {
    padding: 8px;
    display: block;
    width: 100%;
    max-width: 700px;
    background-color: #12031d;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: 1px solid #fff;
    &:focus {
      outline: none;
    }
  }
  textarea {
    padding: 8px;
    display: block;
    width: 100%;
    max-width: 700px;
    min-height: 100px;
    resize: none;
    background-color: #12031d;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: 1px solid #fff;
    &:focus {
      outline: none;
    }
  }
}

.helper-text.hidden {
  display: none;
}

.helper-text {
  color: rgb(255, 148, 148);
  /* display: block; */
}

form div.flex-form {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Footer */

footer {
  padding: 16px 0px;
}

footer #current-year {
  margin-left: 8px;
}